# Veri Bilimi için İstatistik

### Örnek Teorisi

In [1]:
import numpy as np

In [2]:
populasyon = np.random.randint(0,80, 10000)

In [3]:
populasyon[0:10]

array([75,  9, 77, 15, 38, 28, 52, 69,  5, 67])

In [4]:
# Örneklem Çekme
np.random.seed(115)
orneklem = np.random.choice(a = populasyon, size = 100)
orneklem[0:10]

array([37, 70, 32, 59, 40,  9, 75, 37, 49, 10])

In [5]:
orneklem.mean()

39.81

In [6]:
populasyon.mean()

39.5346

In [7]:
# Örneklem Dağılımı

In [8]:
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon, size =100)
orneklem2 = np.random.choice(a = populasyon, size =100)
orneklem3 = np.random.choice(a = populasyon, size =100)
orneklem4 = np.random.choice(a = populasyon, size =100)
orneklem5 = np.random.choice(a = populasyon, size =100)
orneklem6 = np.random.choice(a = populasyon, size =100)
orneklem7 = np.random.choice(a = populasyon, size =100)
orneklem8 = np.random.choice(a = populasyon, size =100)
orneklem9 = np.random.choice(a = populasyon, size =100)
orneklem10 = np.random.choice(a = populasyon, size =100)

In [10]:
( orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean() + 
  orneklem6.mean() + orneklem7.mean() + orneklem8.mean() + orneklem9.mean() + orneklem10.mean()) / 10

40.386

### Betimsel İstatistikler

* Kovaryans : İki değişken arasındaki ilişkinin değişkenlik ölçüsü
* Varyans : Ortalama etrafındaki dağılımın ölçüsüdür.
* Korelasyon : İki değişken arasındaki ilişkiyi,ilişkinin anlamlı olup olmadığını,ilişkinin şiddetini ve yönünü idafe eden istatistik teknikdir.

In [12]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [14]:
!pip install researchpy
import researchpy as rp

Collecting researchpy
  Downloading https://files.pythonhosted.org/packages/c2/e4/6fef21ad13c0b48ccbafba3ad8bd0bd65af0c9eb1aad9a82fec66c9de1ed/researchpy-0.1.9-py3-none-any.whl
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (0.25.1)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.3.1)
Requirement already satisfied: statsmodels in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (0.10.1)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.16.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.0)
Requirement already satisfied: patsy>=0.4.0 in c:\users\lenovo\anaconda3\lib\site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->researchpy) (1.12.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.1.9

In [15]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N       Mean        SD        SE  95% Conf.   Interval
0  total_bill  244.0  19.785943  8.902412  0.569919  18.663332  20.908554
1         tip  244.0   2.998279  1.383638  0.088578   2.823799   3.172758
2        size  244.0   2.569672  0.951100  0.060888   2.449737   2.689608

In [16]:
rp.summary_cat(df[["sex","smoker","day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [17]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [18]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000